<!doctype html>
<html>
	<head>
		<title>OsDev</title>
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="media/styles/reset.css" />
		<link rel="stylesheet" href="media/styles/index.css" />
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		
	</head>
	<body>
		<section id="sidebar">
			<a href="#" id="logo">
				<div id="logo2"><div id="logo1"></div></div>
			</a>
			<ul>
				<li><a href="#">Zaloguj się!</a></li>
				<li><a href="#">Tryb chroniony</a></li>
				<li><a href="#">Lol</a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</section>
		<section id="main">
			<h2>Staszic Delta</h2>
			<h3>Zaloguj się!</h3>
			<form action="index.php?a=login" method="post" >
				<div class="field"><label type="login">Login:</label><input type="text" id="login" name="login"></div>
				<div class="field"><label type="password">Haslo:</label><input type="password" id="password" name="password"></div>
				<div class="field"><input type="submit" value="Loguj!"></div>
			</form>
		</section>
		<footer>
			<p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/pl/">Na licencji Creative Commons <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a></p>
			<p>Autor: Jan Michalski</p>
		</footer>
	</body>
</html>